[program:streamsample]
command=<LOCATION OF SFM>/ENV/bin/python <LOCATION OF SFM>/sfm/manage.py streamsample --save
user=<USERNAME THAT SUPERVISOR WILL RUN THE STREAMSAMPLE PROCESS AS>
autostart=true
autorestart=true
stderr_logfile=/var/log/sfm/streamsample.err.log
stdout_logfile=/var/log/sfm/streamsample.out.log
