*.pyc
*.log
ENV
sfm/sfm/local_settings.py
sfm/sfm/wsgi.py
*.swp
*.swo
data
*.rdb
sfm/sfm/supervisor.d/*.conf
_build
.idea
docker/dev.docker-compose.yml
docker/master.docker-compose.yml
docker/prod*.docker-compose.yml
docker/docker-compose.yml
