{% extends "base.html" %}

{% block content %}


<div class="page-header">
    <h1>Please log in</h1>
</div>

<div class="row">
    <div class="span6">

        {% if user.is_authenticated %}
        <p>
        But you're already logged in, {{ user.username }}!
        </p>
        {% else %}

        <p>
        <a href="{% url 'socialauth_begin' 'twitter' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class='btn btn-default btn-lg active' role='button'>Log in with Twitter</a>
        </p>

        <p>
        Note:  your use of data from Twitter is subject to the
        terms of service you agreed to when you signed up for Twitter.
        </p>

        <p>
        <strong>Please do not republish</strong> data you receive here.
        We provide data to you for your personal and research use.
        Twitter's terms of service do not allow republishing of full 
        datasets.
        </p>
        {% endif %}
    </div>
</div>

{% endblock %}
