{% extends "base.html" %}
{% load url from future %}

{% block content %}


<div class="page-header">
    <h1>Please log in</h1>
</div>

<div class="row">
    <div class="span6">

        {% if user.is_authenticated %}
        <p>
        But you're already logged in, {{ user.username }}!
        </p>
        {% else %}

        <p>
        <button type="button" class="btn btn-default">Log in with
            <a href="{% url 'socialauth_begin' 'twitter' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Twitter</a>
    </button>
        </p>

        <p>
        Note:  your use of data from Twitter is subject to the
        terms you agreed to when you signed up for Twitter.
        </p>

        <p>
        <strong>Please do not republish</strong> data you receive here,
        We are providing data to you for your personal and research use.
        Twitter's terms do not allow republishing of data otherwise.
        </p>
        {% endif %}
    </div>
</div>

{% endblock %}
