{% extends "base.html" %}

{% block content %}

<div class='page-header'>
    <h1>about sfm</h1>
</div>

<p>

This is a simple app that helps staff at <a
href="http://library.gwu.edu/">GW Libraries</a> manage one or more
feeds of data from social media sites like Twitter.  Here you can see
the content from those feeds and in some cases link back to the original
items on their source sites.
</p>
<p>
A detailed description of the data reported while enlisting feeds from any social media sites like twitter can be found at
<a href="http://gwu-libraries.github.io/social-feed-manager/data-dictionary.html">Data Dictionary</a>.Here you can see the data which is and can be sent as a report of the tweet for any particular user.

</p>

{% endblock %}
