<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>sfm: {{ title }}</title>
        {% block stylesheet %}
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <style>
            body {
                padding-top: 60px;
            }
        </style>
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
        {% endblock stylesheet %}
        {% block stylesheet_extra %}
        {% endblock stylesheet_extra %}
        {% block javascript %}
        {% endblock javascript %}
        {% block javascript_extra %}
        {% endblock javascript_extra %}
    </head>

    <body>
        {% block header %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{% url home %}">gwu libraries - social feed manager</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li {% if '/status/page/' in request.path %} class='active'{% endif %}><a href="{% url status_list page=1 %}">status</a></li>
                            <li {% if '/about/' == request.path %} class='active'{% endif %}><a href="{% url about %}">about</a></li>
                        </ul>
                        <form method="get" action="#" class="navbar-search ">
                            <input type="text" name="q" class="search-query" placeholder="search" />
                        </form>
                        <p class="navbar-text pull-right">
                            {% if user.is_authenticated %}
                            logged in as {{ user.username }}
                            {% if user.is_staff %}
                            - <a href="/admin/">admin</a>
                            {% endif %}
                            - <a href="#% url logout %}">log out</a>
                            {% else %}
                            <a href="#% url login %}">log in</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock header %}

        <div class="container">
            {% block content %}

            {% endblock content %}
        </div>

    </body>
</html>
