{% load url from future %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>sfm: {{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheet %}
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/libheader7_lite.css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/libheader7_lite_bootswatch.css" rel="stylesheet" />
        <!--[if lt IE 9]>
        <link href="{{ STATIC_URL }}css/libheader7_lite_ie.css" rel="stylesheet">
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="{{ STATIC_URL }}css/sfm.css" rel="stylesheet" />

        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
        {% endblock stylesheet %}
        {% block stylesheet_extra %}
        {% endblock stylesheet_extra %}
    </head>

    <body>
        {% block header %}
        <header class="navbar navbar-fixed-top">
            <div id="libheader-container" class="navbar-inner" style="">
                <div id="libheader" class="container">
                    <div class="libheader-logo">
                        <a href="http://www.gwu.edu" target="_blank" title="GWU website"><img src="{{ STATIC_URL }}img/gwheaderlogo.png" alt="logo: The George Washington University" /></a>
                    </div>
                    <div class="libheader-liblink">
                        <a href="http://library.gwu.edu" target="_blank" title="GW Libraries website">GW Libraries</a>
                    </div>
                    <ul class="nav hide-med">
                        <li><a class="brand" href="{% url 'home' %}">social feed manager</a></li>
                        <li><a href="{% url 'about' %}">about</a></li>
                        <form method="get" action="{% url 'search' %}" class="navbar-search pull-left">
                            <input type="text" name="q" class="search-query" placeholder="find users" {% if q %}value="{{ q }}"{% endif %} />
                        </form>
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                            <li><a href="/admin/">admin</a></li>
                            <div class="bullet" style="">&bull;</div>
                            {% endif %}
                            <li><a href="{% url 'logout' %}">log out {{ user.username }}</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">log in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </header>
        {% endblock header %}

        <article class="container">
            {% block content %}

            {% endblock content %}
        </article>

        <footer class="navbar-fixed-bottom">
            <div id="libfooter-container" style="">
                <div id="libfooter" class="container" style="">
                    <div class="libfooter-text" style="">
                        <span class="address">
                            <a href="http://library.gwu.edu" target="_blank" title="GW Libraries Website">GW Libraries</a>
                            &#8226; 2130 H Street NW &#8226; Washington DC 20052
                        </span>
                        &#8226;
                        <span class="tel">202.994.6558</span>
                        &#8226;
                        <a href="mailto:refdesk@gwu.edu" target="_blank" title="">refdesk@gwu.edu</a>
                    </div>
                </div>
            </div>
        </footer>
                            
        {% block javascript %}
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type='text/javascript' src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        {% endblock javascript %}
        {% block javascript_extra %}
        {% endblock javascript_extra %}

    </body>
</html>
