{% extends "base.html" %}
{% load humanize %}

{% block content %}

<div class='page-header'>
    {% if user.is_authenticated %}
    <h1>hi {{ user.username }}.</h1>
    {% else %}
    <h1>hi.</h1>
    {% endif %}
</div>

<div class='row'>
    <div class='span-2'>
        <h2>overall status</h2>
        <p>
        see <a href="{% url status_list page=1 %}">all statuses</a>. 
        currently there are {{ statuses.count|intcomma }} total.
        </p>

        <h2>trends</h2>
        <p>
        see <a href='{% url trends_daily %}'>daily</a> or 
        <a href='{% url trends_weekly %}'>weekly</a> trends.
        </p>
    </div>
    <div class='span-6'>
        <h2>rules</h2>
        <p>
        Rules that have been matched by active or past queries.
        </p>
        <table class='table'>
            <thead>
                <tr>
                    <th>rule</th>
                    <th>count</th>
                </tr>
            </thead>
            <tbody>
                {% for rule in rules %}
                <tr>
                    <td><a href="{% url rule rule=rule.rule_match page=1 %}">{{ rule.rule_match }}</a></td>
                    <td>{{ rule.rule_match__count|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='span-6'>
        <h2>tags</h2>
        <p>
        Tags, or sets of rules, for which we have data.
        </p>
        <table class='table'>
            <thead>
                <th>tag</th>
                <th>count</th>
            </thead>
            <tbody>
                {% for tag in tags %}
                <tr>
                    <td>{{ tag.rule_tag }}</td>
                    <td>{{ tag.rule_tag__count|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
