{% extends "base.html" %}

{% block content %}

    <div class='page-header'>
        <h1>search: "{{ q }}" ({{ paginator.count }} hit{{ paginator.count|pluralize }} on {{ paginator.num_pages }} page{{ paginator.num_pages|pluralize }})</h1>
    </div>

    {% if object_list.count > 0 %}
        {% include "search_pagination.html" %}

        {% include "status_table.html" %}

        {% include "search_pagination.html" %}
    {% else %}
        <p>
            Sorry, I couldn't find anything that matches that for you.
        </p>
    {% endif %}

{% endblock content %}
