{% extends "base.html" %}
{% load humanize %}
{% load twitterize %}

{% block javascript_extra %}
<script type='text/javascript'>
function unshorten(id) {
    $.get("/twitter-item/" + id + "/links/",
        function(htmldata) {
            $("div #links-" + id).replaceWith(htmldata);
        });
}
</script>
{% endblock %}

{% block content %}

<div class='page-header'>
    <h1>{{ title }}</h1>
</div>

<div class='span12'>

    {% include "tweets_pagination.html" %}
    <table class='table'>
        <thead>
            <tr>
                <th width='20%'>date
                    <br />
                    followers/following</th>
                <th>user</th>
                <th width='5%'>rt #</th>
                <th>text</th>
                <th width='15%'>view</th>
            </tr>
        </thead>
        <tbody>
            {% for item in tweets %}
            <tr>
                <td>
                    {{ item.date_published|date:"Y-m-d h:i:s a" }} 
                    <br />
                    {{ item.tweet.user.followers_count|intcomma }} -
                    {{ item.tweet.user.friends_count|intcomma }} 
                </td>
                <td><a href='{% url "twitter_user" item.twitter_user.name %}'>{{ item.twitter_user.name }}</a></td>
                <td>{{ item.tweet.retweet_count }}</td>
                <td>
                    {{ item.text|twitterize }}
                    {% if item.links %}
                    <div id='links-{{ item.id }}'>
                        <i class='icon-resize-full'></i>
                        <a href="javascript:unshorten({{ item.id }});">expand links</a>
                    </div>
                    {% endif %}
                </td>
                <td>in <a href="{{ item.twitter_url }}">twitter</a> 
                    <br />
                    raw <a href="{% url 'twitter_item' id=item.id %}">cached</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "tweets_pagination.html" %}
</div>


{% endblock content %}
