{% extends "base.html" %}
{% load humanize %}
{% load twitterize %}

{% block stylesheet_extra %}
<style>
svg {
    width: 550px;
    height: 30px;
}
.bar {
    fill: steelblue;
}
.bar:hover {
    fill: brown;
}
</style>
{% endblock stylesheet_extra %}

{% block javascript_extra %}
<script type='text/javascript'>
function unshorten(id) {
    $.get("/twitter-item/" + id + "/links/",
        function(htmldata) {
            $("div #links-" + id).replaceWith(htmldata);
        });
}
</script>

<script type='text/javascript' src="http://d3js.org/d3.v3.min.js"></script>
<script type='text/javascript'>
var daily_counts = {{ daily_counts|safe }};

var width = 550;
var height = 30;

var x = d3.time.scale()
    .range([0, width])
    .domain([new Date(daily_counts[0][0]), 
             new Date(daily_counts.slice(-1)[0][0])]);

var y = d3.scale.linear()
    .range([0, height])
    .domain([d3.max(daily_counts, function(d) { return d[1]; }), 0]);

var svg = d3.select("#viz").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.selectAll(".bar")
    .data(daily_counts)
  .enter().append("rect")
    .attr("class", "bar")
    .attr("x", function(d, i) { return x(new Date(d[0])); } )
    .attr("width", (width / 90) - 1)
    .attr("y", function(d) { return y(d[1]); } )
    .attr("height", function(d) { return height - y(d[1]); } )
    .attr("title", function(d) { return d[0]; } );

svg.selectAll("rect").append("svg:title")
    .text(function(d) { return d[0] + ": " + d[1]; });
</script>
{% endblock %}

{% block content %}

<div class='span-6'>
    <h1>{{ user.name }} - 
        {{ user.items.count|intcomma }} item{{ user.items.count|pluralize }}
    </h1>
    <div id='viz' width='500' height='30'></div>
    {% if recent_tweet %}
    {% with recent_tweet.tweet as t %}
    <p>
    Twitter user {{ t.user.id|intcomma }} - created {{ t.user.created_at }}.
    <br />
    {{ t.user.statuses_count|intcomma }} tweets -
    {{ t.user.followers_count|intcomma }} followers - 
    {{ t.user.friends_count|intcomma }} following -
    view <a href="http://twitter.com/{{ user.name }}">in Twitter</a>
    <br />
    export this data <a href='{% url "twitter_user_csv" name=user.name %}'>as
    csv for excel</a>
    </p>
    {% endwith %}

    {% include "twitter_user_pagination.html" %}
    <table class='table'>
        <thead>
            <tr>
                <th width='20%'>date
                    <br />
                    followers/following</th>
                <th width='5%'>rt #</th>
                <th>text</th>
                <th width='15%'>view</th>
            </tr>
        </thead>
        <tbody>
            {% for item in tweets %}
            <tr>
                <td>
                    {{ item.date_published|date:"Y-m-d h:i:s a" }} 
                    <br />
                    {{ item.tweet.user.followers_count|intcomma }} -
                    {{ item.tweet.user.friends_count|intcomma }} 
                </td>
                <td>{{ item.tweet.retweet_count }}</td>
                <td>
                    {{ item.text|twitterize }}
                    {% if item.links %}
                    <div id='links-{{ item.id }}'>
                        <i class='icon-resize-full'></i>
                        <a href="javascript:unshorten({{ item.id }});">expand links</a>
                    </div>
                    {% endif %}
                </td>
                <td>in <a href="{{ item.twitter_url }}">twitter</a> 
                    <br />
                    raw <a href="{% url 'twitter_item' id=item.id %}">cached</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "twitter_user_pagination.html" %}
    {% endif %}
</div>


{% endblock content %}
