{% extends "base.html" %}
{% load humanize %}
{% load twitterize %}

{% block javascript_extra %}
<script type='text/javascript'>
function unshorten(id) {
    $.get("/twitter-item/" + id + "/links/",
        function(htmldata) {
            $("div #links-" + id).replaceWith(htmldata);
        });
}
</script>
{% endblock %}

{% block content %}

<div class='span-6'>
    <h1>{{ user.name }} - 
        {{ user.items.count|intcomma }} item{{ user.items.count|pluralize }}</h1>
    {% if recent_tweet %}
    {% with recent_tweet.tweet as t %}
    <p>
    Twitter user {{ t.user.id|intcomma }} - created {{ t.user.created_at }}.
    <br />
    {{ t.user.statuses_count|intcomma }} tweets -
    {{ t.user.followers_count|intcomma }} followers - 
    {{ t.user.friends_count|intcomma }} following -
    view <a href="http://twitter.com/{{ user.name }}">in Twitter</a>
    <br />
    export this data <a href='{% url "twitter_user_csv" name=user.name %}'>as
    csv for excel</a>
    </p>
    {% endwith %}

    {% include "twitter_user_pagination.html" %}
    <table class='table'>
        <thead>
            <tr>
                <th width='20%'>date
                    <br />
                    followers/following</th>
                <th width='5%'>rt #</th>
                <th>text</th>
                <th width='15%'>view</th>
            </tr>
        </thead>
        <tbody>
            {% for item in tweets %}
            <tr>
                <td>
                    {{ item.date_published|date:"Y-m-d h:i:s a" }} 
                    <br />
                    {{ item.tweet.user.followers_count|intcomma }} -
                    {{ item.tweet.user.friends_count|intcomma }} 
                </td>
                <td>{{ item.tweet.retweet_count }}</td>
                <td>
                    {{ item.text|twitterize }}
                    {% if item.links %}
                    <div id='links-{{ item.id }}'>
                        <i class='icon-resize-full'></i>
                        <a href="javascript:unshorten({{ item.id }});">expand links</a>
                    </div>
                    {% endif %}
                </td>
                <td>in <a href="{{ item.twitter_url }}">twitter</a> 
                    <br />
                    raw <a href="{% url 'twitter_item' id=item.id %}">cached</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "twitter_user_pagination.html" %}
    {% endif %}
</div>


{% endblock content %}
