/* site specific css */

h1 {
    font-size: xx-large;
}

p {
    font-size: large;
}

article {
    padding-top: 80px;
    padding-bottom: 60px;
}

svg { 
    width: 700px;
    height: 360px;
}

#vizcontainer.span8 {
    height: 360px;
}

.chart rect {
    fill: steelblue;
    stroke: white;
}

.chart rect:hover {
    fill: brown;
}

.rule {
    font-size: small;
}

.axis text {
    font: 11px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* tweaks to libheader7_lite.css */

#libheader {
    padding: .2em 0 0;
    height: auto;
}

.libheader-liblink {
    /*width: 200px;*/
    padding-top: 0;
    font-size: 1.6em;
}

@media screen and (max-width:1100px) {
    .navbar-search {
        display: none;
        visibility: hidden;
    }
}
@media screen and (max-width:860px) {
    .hide-med {
        display: none;
        visibility: hidden;
    }
}
@media screen and (max-width:970px) {
    article {
        padding-top: inherit;
        padding-bottom: inherit;
    }
}

/* tweaks to bootstrap */

.navbar-search {
    margin-top: .125em; /* from .2em */
}
.navbar .nav {
    float: right;
}
